<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/9eb30874e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Plains Modding</title>
    <meta name="theme-color" content="#7289DA"/>
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/384187414584754176/f795e5e2b7ca624bbf26ad41bccf72d1.png?size=2048">
    <meta name="description"
        content="Hello i'm Great Plains Modding and I do lots of stuff with JavaScript. I mostly do back-end stuff using express.js with a little but of front-end.">
</head>
<body>
    <div id="particles-js"></div>
    <div class="portfolio">
        <img src="https://cdn.discordapp.com/avatars/384187414584754176/f795e5e2b7ca624bbf26ad41bccf72d1.png?size=2048"
            alt="" class="portfolio-img">
        <h1>Great Plains Modding</h1>
        <h5>Express.js - Discord.js - ejs</h5>
        <p>Hello i'm Great Plains Modding and I do lots of stuff with JavaScript. I mostly do back-end stuff using express.js with a little but of front-end.</p>
        <ul>
            <li><a href="https://github.com/greatplainsmodding"><i class="fab fa-github"></i></a></li>
            <li><a href="https://discordapp.com/users/384187414584754176"><i class="fab fa-discord"></i></a></li>
            <li><a href="mailto:greatplainsmodding@gmail.com"><i class="fas fa-envelope"></i></a></li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
<script>
    particlesJS.load('particles-js', 'particles.json', function () {})
</script>

</html>